<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Mains</h2>
  <% restaurant.menu.forEach(dish => { %>
      <% if (dish.category === 'mains') { %>
          <div>
              <h3><%= dish.name %></h3>
              <p>Price: $<%= dish.price %></p>
              <p>Rating: <%= dish.rating %> ⭐</p>
              <p>Details: <%= dish.details %></p>
          </div>
      <% } %>
  <% }) %>

  <h2>Desserts</h2>
  <% restaurant.menu.forEach(dish => { %>
      <% if (dish.category === 'desserts') { %>
          <div>
              <h3><%= dish.name %></h3>
              <p>Price: $<%= dish.price %></p>
              <p>Rating: <%= dish.rating %> ⭐</p>
              <p>Details: <%= dish.details %></p>
          </div>
      <% } %>
  <% }) %>

  <h2>Sides</h2>
  <% restaurant.menu.forEach(dish => { %>
      <% if (dish.category === 'sides') { %>
          <div>
              <h3><%= dish.name %></h3>
              <p>Price: $<%= dish.price %></p>
              <p>Rating: <%= dish.rating %> ⭐</p>
              <p>Details: <%= dish.details %></p>
          </div>
      <% } %>
  <% }) %>
</body>
</html>
